---
layout: default
---
<style>
img {
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 2%;
    border-top-style: solid;
    border-width: 5px;
    width: 200px;
    height: auto;
    color: black;
}

p {
  text-align: center;
  /*font-weight: bold;*/
  color: #595959;
}

</style>

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>



  <div class="post-content">
    {{ content }}
  </div>

  {% include footer.html %}

</article>
